
body {
    
    background-image:url("design1.png");
  background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
  }
  
  /*h1 {
    Copperplate, Papyrus, fantasy;
  }*/
  
